doctype html
html(lang='fr')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		title Connexion interface · Mini-Serre
		link(href='./assets/css/bootstrap.min.css', rel='stylesheet')
		link(href='./assets/css/connexion.css', rel='stylesheet')
	body.text-center
		form.form-signin(method='POST')
			h1.h3.mb-3.font-weight-normal Connectez-vous pour accéder à l'interface
			if typeof(errorMessage) != 'undefined'
				.alert.alert-danger(role='alert')= errorMessage
			input#inputPassword.form-control(type='password', placeholder='Mot de passe', name='password', required='')
			input.form-control(type='hidden' name='username', value='admin')
			button.btn.btn-lg.btn-dark.btn-block(type='submit') Connexion
			p.mt-5.mb-3.text-muted Projet SI - 2018-2019
